
@import url(../styles/menu.css);
@import url(../styles/header.css);
@import url(../styles/destaque4.css);
@import url(../styles/produtos-destaque.css);
@import url(../styles/lancamento.css);
@import url(../styles/frase-destaque.css);
@import url(../styles/produtos.css); 
@import url(../styles/footer.css);

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: 'font1';
    src: url(/fonts/Beauty\ Heaven.ttf) format('truetype');
}

@font-face {
    font-family: 'font2';
    src: url(/fonts/Payback.otf) format('opentype');
}

@font-face {
    font-family: 'font3';
    src: url(/fonts/Cinzel-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'font4';
    src: url(/fonts/CinzelDecorative-Regular.otf) format('opentype');
}

:root{ 
    --fonte2:'Poppins', sans-serif;
    --preto:#000000; 
    --preto-1: rgba(0,0,0,0.8);
    --cinza:#c2c2c2;
    --cinza-solido:#cccccc;
    --cinza-transparente: rgba(64, 64, 64, 0.10);
    --branco-transparente: rgba(255, 255, 255, 0.5); 
    --amarelo:#daa520;
    --branco:#FFFFFF; 
    --cor1: #8f6277;
    --cor2:#c594aa; 
    --cor3:#fdcae1; 
    --cor4: #ffdad8; 
    --cor5: #8C36E3; 
    --cor6: #ffe5f0; 
}

body{ 
    font-family: var(--fonte2);
    font-size: 16px; 
}

.carrossel_container{
    display: none;
}

/* Responsividade  */

@media screen and (max-width: 1000px){ 

        .mostrar-menu nav{ 
            display: block;
        }
        
        .menu-mob{ 
            display: block;
        } 


        .logo{ 
           font-size: 1em;
        }
        
        .header-baixo{ 
            flex-direction: column;
            text-align: center;
            padding-top: 4rem;
        }
        
        .excluisvo-lado a{ 
            margin-left: auto;
            
          }
        .header-lado-esquerdo button{ 
            margin-bottom: 1.5rem;
        }

        .nav-icon img:first-child{ 
            margin-right: -2px;
        } 

        .nav-icon{ 
           gap: 1rem;
        }

        nav{ 
            position: absolute;
            background-color: var(--cor1);
            width: 100%;
            top: 46px;
            display: none;
        }

        nav ul{ 
            flex-direction: column;
        }

        nav ul li{ 
            text-align: center;
            padding: 0.8rem; 
        }
        /* especificações elementos com 4 itens*/
        .coluna-4{ 
            display: none;
        }
        /* especificações do elementos com 6 itens (produtos destaque) */ 
       .coluna-6{
        display: none;
       }
       .coluna-5{ 
        display: none;
       }
       .card-container{ 
        display: none;
       }
    /* Carrossel começa aqui */
        .carrossel_container{ 
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        
        .swiper-slide{ 
            padding: 3rem;
            
        }

        
        .swiper-slide img{ 
                border-radius: 5px;
                width: 100%;
                margin-bottom: 1rem; 
                

        }
        .swiper-slide p{ 
            color: var(--preto-1);
            font-family: var(--fonte2);
            line-height: 1rem;
            text-align: center; 
            margin-bottom: 1rem;
            
        }
        .swiper-slide a{ 
            display: block;
            background-color: #705567;
            color: var(--branco);
            font-family: var(--fonte2);
            border: none;
           margin-left: auto;
           margin-right: auto;
            text-align: center;
            text-decoration: none;
             width: 10rem;
            height: 2rem; 
        } 
        /* fim do carrossel */
 
        /* titulo emabaixo do carrossel*/
        .section-title{ 
            font-size: 1.5rem;
        } 

        .card{ 
            background-color: #d3d3d3;
            width: 100%; 
            height: 50%;
            border-radius: 12px;
            box-shadow: 2px 2px 2px 2px #a7a7a7;
            cursor: pointer;
            transition: all 0.3s;
        }
}
 
main{ 
    background-color: #c7c7c7;
}

.cor-de-fundo{ 
    background-color: var(--cor1);
}






 
   

